<form method="POST" action="/private/config/setMaintainance">
    Set Maintainance
    <br>
    <input type="radio" name="maintainance" value="true" checked> True
    <br>
    <input type="radio" name="maintainance" value="false"> False
    <br>

    <br>

    <div>
        <label for="maintainanceTime">Set Maintainance Time:</label>
        <input type="datetime-local" id="maintainanceTime" name="maintainanceTime" />
    </div>
    <br>

    Admin <input type="text" name="username">
    <br> <br>
    Password: <input type="password" name="password">
    <br><br>
    <input type="submit" value="Submit">
</form>