<% include templates/header.ejs %>

<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align:center;">This website is built using, </h3>
            <div class="image-grid">
                <div class="column">
                    <a href="https://nodejs.org/en/" target="_blank"><img src="/images/nodejs.jpg" style="width:100%"></a>
                    <a href="https://expressjs.com/" target="_blank"><img src="/images/express.jpg" style="width:100%"></a>
                    <a href="https://api.jquery.com/" target="_blank"><img src="/images/jquery.jpg" style="width:100%"></a>
                </div>
                <div class="column">
                    <a href="https://www.mongodb.com/" target="_blank"><img src="/images/mongodb.jpg" style="width:100%"></a>
                    <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" target="_blank"><img src="/images/heroku.jpg" style="width:100%"></a>
                </div>
                <div class="column">
                    <a href="https://github.com/keystonejs/keystone" target="_blank"><img src="/images/keystone.jpg" style="width:100%"></a>
                    <a href="https://getbootstrap.com/docs/3.3/components/" target="_blank"><img src="/images/bootstrap.jpg" style="width:100%"></a>
                </div>
            </div>

        </div>
    </div>
</div>

<% include templates/footer.ejs %>