body {
    /* margin: 20px; */
}

.content {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(243, 243, 243);
}

.post {
    background-color: rgb(255, 255, 255);
}

a { 
    color: rgb(42, 187, 42);
}

span, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.box {
position: relative;
display: table;
width: 100%;
overflow: auto;
margin: 10px;
margin-bottom: 40px;
padding-bottom: 20px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 5px;
-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
content: "";
border-radius: 5px;
position: absolute;
z-index: -1;
top: 0;
left: 0;
width: 100%;
height: 100%;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
opacity: 0;
-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
-webkit-transform: scale(1.05, 1.05);
transform: scale(1.05, 1.05);
}

.box:hover::after {
    opacity: 1;
}

.brief {
    margin-top: 5px;
}

.readmore {
    margin-top: 10px;
}

#block {
    display: table;
}

#content {
    padding: 20px;
}

#home-image {
    width: 256px;
    height: 256px;
    display: table-cell;
    vertical-align: middle;
}

#post-image {
    width: 300px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
}

#post-title {
    text-align: center;
    margin-top: 70px;
    vertical-align: middle;
}

.thumbnail-image {
    width: 256px;
    height: 256px;
}

.post-content {
    margin: 10px 0px 75px 75px;
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
}

#publish-text{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
  
  
/* DEMO example styles for logo image */
.navbar-brand {
padding: 0px;
}
.navbar-brand>img {
height: 100%;
width: auto;
}

.navbar {
    background-color: black;
    margin-top: 15px;
}

@media (min-width: 600px) {
    .navbar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 10px;
        margin-top: 25px;
    }
}

.navbar-header > a, li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#navbar > ul > li > a {
    font-family: 'Montserrat', sans-serif; 
    text-transform: uppercase;
    color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding-bottom: 20px;
 }

.footer > a > img {
	margin: 0px 10px;
	width: 40px;
	height: 40px;
}

.image-grid {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 25px;
}

.column img {
    margin: 50px;
    vertical-align: middle;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}