<div class="footer">
    <hr />
    <p class="txt-railway">
        < MIT licensed >
    </p>
    <a href="https://www.github.com/pampas93" target="_blank">
        <img alt="Github" src="../images/icon-github.png">
    </a>
    <a href="https://www.linkedin.com/in/abhijit-srikanth/" target="_blank">
        <img alt="LinkedIn" src="../images/icon-linkedin.png">
    </a>
</div>